@CHARSET "UTF-8";

html > body {
	overflow: hidden;
	color: white;
	background-color: #212121;
}


/* Pattern Lock */
	form .patt-holder, div#alarm_pattern.patt-holder {
		background: transparent;
	}
	form .patt-holder ul.patt-wrap, div#alarm_pattern.patt-holder ul.patt-wrap {
		margin: 0px;
	}


/* Material Design icons font */
	.md-48 {
		font-size: 48px;
	}
	.md-24 {
		font-size: 24px;
	}
	.md-14 {
		font-size: 14px;
	}

	.button-icon-48 {
		font-size: 48px !important;
		width: 48px;
		height: 48px;
		position: inherit;
		margin: 2px;
	}

/* Global Material Designed elements */
	md-bottom-sheet {
		background-color: #4B4B4B;
		border-top-color: #464646;
	}
