@CHARSET "UTF-8";

html > body > div button md-icon, html > body > div md-icon.icon-img-centered {
	position: relative;
	top: -0.1em;
}
img.fab-button {
	width: 2.5em;
	height: 2.4em;
	margin-top: 0;
	line-height: 2.4em;
	position: relative;
	top: -0.32em;
	left: -0.4em;
}

/* GridList */
.grid {
	position: relative;
	height: 100%;
	list-style: none;
	/* Will be modified by the grid jquery lib, depending on the items */
	-webkit-transition: width 0.2s,
	height 0.2s;
	transition: width 0.2s,
	height 0.2s;
}
.grid li {
	position: absolute;
	z-index: 1;
	font-weight: bold;
	line-height: 1em;
	text-align: center;
	-webkit-transition: top 0.3s,
	left 0.3s,
	width 0.3s,
	height 0.3s,
	font-size 0.3s,
	line-height 0.3s;
	transition: top 0.3s,
	left 0.3s,
	width 0.3s,
	height 0.3s,
	font-size 0.3s,
	line-height 0.3s;
}

.grid li .inner {
	position: absolute;
	top: 0;
	bottom: 10px;
	left: 10px;
	right: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
/*
.grid li.changed .inner {
	background: #ffff66;
	-webkit-transition: none;
	transition: none;
}
.grid li.ui-draggable-dragging {
	-webkit-transition: none;
	transition: none;
}
.grid li.position-highlight {
	-webkit-transition: none;
	transition: none;
}
*/
.grid li.position-highlight .inner {
	background: #222222;
}

div.gridlist-card {
	background: #424242;
}
div.gridlist-card button.md-mini img.s14 {
	width: 1.4rem;
	height: 1.4rem;
}

div.gridlist-card div.handle, div.gridlist-card div.md-fab-toolbar-content {
	cursor: pointer;
}



/* FIXME !0: d'ici, voir si on en a encore besoin... */
md-toolbar.page-header {
	background-image: url('../images/doorstep-background.jpg');
	background-position: center;
}

header.page-header {
	padding: 1em;
}
header.page-header.off {
	background-color: rgba(43, 175, 43, 0.4);
}
header.page-header.partial {
	background-color: rgba(255, 167, 38, 0.6);
}
header.page-header.on {
	background-color: rgba(232, 78, 64, 0.8);
}
div.header-status button.gx-translucent {
	opacity: 0.5;
}

md-card.lighter {
	background-color: #90A4AE; /* Blue grey 300 */
	padding: 0.4em;
}
md-dialog.lighter, md-content.lighter, md-dialog.lighter md-content {
	background-color: #90A4AE; /* Blue grey 300 */
}

md-content.page-layout {
	padding: 1em;
	overflow: auto;
	height: 10px; /* means nothing, but not auto! */
	margin-bottom: -50px;
	background-color: #607D8B; /* Blue grey 500 */
}
md-content.page-layout > div {
	overflow: visible;
	margin-bottom: 50px;
}
