{% set scopeComponent = "elements['container_" ~ component.getContainer.id ~ "']['components'][" ~ component.getContainerPosition ~ "]" %}
<md-content component-id="{{component.id}}" layout="row" layout-wrap layout-align="space-between center">

	<md-button class="md-raised component-button md-primary md-accent" flex
			layout="row" layout-align="start center"
			style="border-top-right-radius:inherit; border-bottom-right-radius:inherit; margin:1px;"
			>
		<div flex="15"> <small>[ic]</small> </div>
		<div flex layout="column">
			<div flex>
				TODO !2
			</div>
		</div>
	</md-button>
	
	<md-button class="md-raised component-button md-primary md-accent" flex
			layout="row" layout-align="start center"
			style="border-radius:inherit; border-radius:inherit; margin:1px;"
			>
		<div flex="15"> <small>[ic]</small> </div>
		<div flex layout="column">
			<div flex>
				TITRE
			</div>
		</div>
	</md-button>
	
	<md-button class="md-raised component-button md-primary md-accent" flex
			layout="row" layout-align="start center"
			style="border-radius:inherit; border-radius:inherit; margin:1px;"
			>
		<div flex="15"> <small>[ic]</small> </div>
		<div flex layout="column">
			<div flex>
				TITRE
			</div>
		</div>
	</md-button>
	
	<md-button class="md-raised component-button md-primary md-accent" flex
			layout="row" layout-align="start center"
			style="border-top-left-radius:inherit; border-bottom-left-radius:inherit; margin:1px;"
			>
		<div flex="15"> <small>[ic]</small> </div>
		<div flex layout="column">
			<div flex>
				TITRE
			</div>
		</div>
	</md-button>
	
</md-content>